<app-header (loginUsser)="login($event)"></app-header>
<br>
<app-slider [hotels]="recomendedHotel"></app-slider>
<div class="home container">
    <app-sidebar (searchHotel)="SearchDestination($event)"
                (showNewHotel)="showNewHotel()"
                (showEditHotel)="showEditHotel()"></app-sidebar>
    <div class="home_container">
        <ng-container  [ngTemplateOutlet]="descriptionCardHotel"></ng-container>
        <ng-container *ngIf="buttonReservation"  [ngTemplateOutlet]="rooms"></ng-container>
        <ng-container *ngIf="showFormLogin" [ngTemplateOutlet]="loginForm"></ng-container>
        <ng-container *ngIf="showFormNewHotel" [ngTemplateOutlet]="createHotel"></ng-container>
    </div>
</div>


<ng-template #descriptionCardHotel>
    <div *ngIf="(generalInfo.loginAdmin$ | async)">
        <p>Bienvenido!</p>
        <span>Ingresaste como administrador</span>
    </div>
    <div *ngIf="removeFilter" class="alert">
        <p *ngIf="textError">No se econtraron hoteles en el destino solicitado</p>
        <span class="alert_filter" (click)="removeFilterOnClick()" *ngIf="removeFilter">Eliminar filtro</span>
    </div>
    <div *ngIf="search && !textError">
        <h2 class="section-title">{{ searchedDestination }}
            <hr class="line">
        </h2>
    </div>
    <div class="card" *ngFor="let item of hotel | paginate: { itemsPerPage: 4, currentPage: page }">
        <div class="card_img">
            <img src="https://images.prismic.io/vivaair-cms-test/16236f6a-df01-47f8-8917-bda9aafa1564_Foto+blog+%E2%80%93+movil.jpg?auto=compress,format" alt="">
        </div>
        <div class="card_description">
            <div class="card_description_text">
                <h4 class="card_description_text-title">{{ item?.hotel }}</h4>
                <div class="card_description_text-direccion">
                    <img  class="card_description_text-direccion-icon" src="https://images.prismic.io/vivaair-cms/47752211-5a59-40f2-9a17-43d23b21947c_destino.png?auto=compress,format" alt="">
                    <p class="card_description_text-direccion-p">{{ item?.direccion }}</p>
                </div>
                <p class="card_description_text-p">{{ item?.descripcion }}</p>
            </div>
            <div class="card_description_action">
                <div>
                    <span>Precios a partir de</span>
                    <h6 class="card_description_action-price"><span>COP</span> {{item?.minPrice | currency: 'COP' :'' }}</h6>
                    <span>Por persona y noche</span>
                </div>
                <div>
                    <button class="btn card_description_action-btn" (click)="reservationonClick(item)">{{generalInfo.loginAdmin$ ? 'editar': 'Reservar'}}</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!textError" class="card_pagination">
        <pagination-controls 
            (pageChange)="page = $event" 
            previousLabel=" "
            nextLabel=" "></pagination-controls>
    </div>
</ng-template>



<ng-template #rooms>
    <div class="fixed">
        <div class="room">
            <div class="room_container" *ngFor="let item of roomReservation">
                <div class="room_img">
                    <img src="https://images.prismic.io/vivaair-cms-test/16236f6a-df01-47f8-8917-bda9aafa1564_Foto+blog+%E2%80%93+movil.jpg?auto=compress,format" alt="">
                </div>
                <div class="room_description">
                    <div class="room_description_text">
                        <h4 class="room_description_text-title">{{ item?.tipo }}</h4>
                        <div class="room_description_text-direccion">
                            <img  class="room_description_text-direccion-icon" src="https://images.prismic.io/vivaair-cms/47752211-5a59-40f2-9a17-43d23b21947c_destino.png?auto=compress,format" alt="">
                            <p class="room_description_text-direccion-p">{{ 'item?.direccion' }}</p>
                        </div>
                        <p class="room_description_text-p">{{ item?.descripcion }}</p>
                    </div>
                    <div>
                        <h4>servicios populares</h4>
                        <ul>
                            <li *ngFor="let item of item?.servicios">{{item}}</li>
                        </ul>
                    </div>
                    <div>
                        <h4>caracteristicas</h4>
                        <ul>
                            <li *ngFor="let item of item?.caracteristicas">{{item}}</li>
                        </ul>
                    </div>
                    <div class="room_description_action">
                        <div>
                            <h6 class="room_description_action-price"><span>COP</span> {{ item?.precio | currency: 'COP' :''}}</h6>
                            <span>Por persona y noche</span>
                        </div>
                        <div>
                            <button class="btn card_description_action-btn" (click)="confirmReservation(item)">Reservar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #loginForm>
    <div class="login">
        <app-login (closeModal)="closeModalLogin()" class="login_form"></app-login>
    </div>
</ng-template>

<ng-template #createHotel>
    <div class="fixed">
        <div>
            <form class="form" [formGroup]="formGroup">
                <div class="form_item">
                    <label class="form_item-label" for="registeredOn">Fecha de entrada</label>
                    <input class="form_item-input" name="registeredOn" formControlName="registeredOn" type="date" min="2023-03-07"/>
                </div>
                <div class="form_item">
                    <label class="form_item-label" for="registeredOff">Fecha de salida</label>
                    <input class="form_item-input" name="registeredOff" formControlName="registeredOff" type="date" min="2023-03-07"/>
                </div>
                <div class="form_item">
                    <label class="form_item-label" for="person">Cantidad de personas</label>
                    <input class="form_item-input" name="person" formControlName="person" type="number" min="1" max="1000"/>
                </div>
                <div class="form_item">
                    <label class="form_item-label" for="destination">Destino</label>
                    <input class="form_item-input" name="destination" formControlName="destination" type="text" />
                </div>
                <button class="btn form_btn" (click)="newHotel()" [disabled]="formGroup.invalid">Buscar</button>
            </form>
        </div>
    </div>
</ng-template>