.home{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 20% 1fr;
    &_container{
        margin: 0 10px;
    }
}


.section {
    &-title {
        font-family: var(--font-primary);
        font-size: 42px;
        font-weight: bold;
        color: var(--secondary-color);
        text-transform: capitalize;
        .line{
            color: var(--primary-color);
            border-top: 3px solid var(--primary-color);
        }
    }
}

.alert{
    display: flex;
    justify-content: space-between;
    &_filter{
        color: var(--secondary-color);
        cursor: pointer;
        text-decoration: underline;
        
    }
}

.fixed, .login{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 100px;
    z-index: 2;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(#ffffff, #002855);
        opacity: 0.55;
        z-index: -1;
    }
}

.card{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 18% 1fr;
    margin-bottom: 10px;
    &_img{
        width: 150px;
        height: 150px;
        margin: 10px;
        img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            box-shadow: 10px 10px 10px var(--gray-color);
        }
    }
    &_description{
        display: grid;
        grid-template-columns: 70% 1fr;
        justify-content: center;
        align-items: center;
        padding: 10px;
        &_text{
            font-family: var(--font-primary);
            color: var(--primary-color);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            &-title{
                font-size: 1.5em;
            }
            &-p{
                font-weight: lighter;
            }
            &-direccion{
                display: flex;
                justify-content: center;
                align-items: center;
                &-icon{
                    width: 20px;
                    height: 20px;
                }
                &-p{
                    margin: 8px 0 0;
                }
            }
        }
        &_action{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-direction: column;
            height: 100%;
            &>div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                &>span{
                    font-weight: lighter;
                    font-size: 0.9em;
                }
            }
            &-price{
                margin: 0;
                font-size: 1.8em;
                &>span{
                    color: var(--secondary-color);
                    font-size: 0.5em;
                }
            }
            &-btn{
                background-color: var(--gray-color);
                color: var(--tertiary-color);
                font-weight: bold;
                text-decoration: underline;
                letter-spacing: 1px;
            }
        }
    }
    &_pagination{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
}

.room{
    background-color: white;
    height: 500px;
    overflow-x: scroll;
    &_container{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 18% 1fr;
        margin: 10px;
        border: 1px solid var(--gray-color);
    }
    &_img{
        width: 150px;
        height: 150px;
        margin: 10px;
        img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            box-shadow: 10px 10px 10px var(--gray-color);
        }
    }
    &_description{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: flex-start;
        padding: 10px;
        &_text{
            font-family: var(--font-primary);
            color: var(--primary-color);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            &-title{
                font-size: 2em;
                color: var(--secondary-color);
            }
            &-p{
                font-weight: lighter;
            }
            &-direccion{
                display: flex;
                justify-content: center;
                align-items: center;
                &-icon{
                    width: 20px;
                    height: 20px;
                }
                &-p{
                    margin: 8px 0 0;
                }
            }
        }
        &_action{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-direction: column;
            height: 100%;
            &>div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                &>span{
                    font-weight: lighter;
                    font-size: 0.9em;
                }
            }
            &-price{
                margin: 0;
                font-size: 1.8em;
                &>span{
                    color: var(--secondary-color);
                    font-size: 0.5em;
                }
            }
            &-btn{
                background-color: var(--gray-color);
                color: var(--tertiary-color);
                font-weight: bold;
                text-decoration: underline;
                letter-spacing: 1px;
            }
        }
    }
    &_pagination{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
}

.login_form{
    background-color: white;
    
}

.newHotel{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    position: relative;
    .form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        justify-content: space-around;
        box-shadow: inset 0px 0px 5px var(--gray-color);
        padding: 10px;
        border-radius: 10px;
        height: 400px;
        &_rooms{
            height: auto;
        }
        &_item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-label{
                color: var(--secondary-color);
            }
            &-input{
                width: 100%;
                border: none;
                box-shadow: 0px 0px 5px var(--gray-color);
                border-radius: 10px;
                padding: 5px 10px;
                &:focus {
                    outline-color: var(--tertiary-color);
                  }
            }
            &-description{
                grid-column: 1/3;
            }
            &-services{
                grid-column: 1/3;
            }
            &-characteristics{
                grid-column: 1/3;
            }
            &-checkbox{
                display: grid;
                grid-template-columns: 1fr 5%;
            }
            &-checked{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                &>img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
        &_btn{
            position: absolute;
            background-color: var(--gray-color);
            width: 15%;
            margin: 0 auto;
            border: 1px solid var(--secondary-color);
            font-weight: bold;
            color: var(--primary-color);
            right: 15px;
            bottom: 10px;
        }
        &_btnRoom{
            background-color: var(--gray-color);
            width: 70%;
            margin: 0 auto;
            border: 1px solid var(--secondary-color);
            font-weight: bold;
            color: var(--primary-color);
        }
    }
    &_rooms{
        margin-left: 20px;
    }
}