.home{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 20% 1fr;
    &_container{
        margin: 10px;
    }
}


.section {
    &-title {
        font-family: var(--font-primary);
        font-size: 42px;
        font-weight: bold;
        color: var(--secondary-color);
        text-transform: capitalize;
        .line{
            color: var(--primary-color);
            border-top: 3px solid var(--primary-color);
        }
    }
}

.alert{
    display: flex;
    justify-content: space-between;
    &_filter{
        color: var(--secondary-color);
        cursor: pointer;
        text-decoration: underline;
        
    }
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    &_img{
        width: 150px;
        height: 150px;
        margin: 10px;
        img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            box-shadow: 10px 10px 10px var(--gray-color);
        }
    }
    &_description{
        display: grid;
        grid-template-columns: 70% 1fr;
        justify-content: center;
        align-items: center;
        padding: 10px;
        &_text{
            font-family: var(--font-primary);
            color: var(--primary-color);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            &-title{
                font-size: 1.5em;
            }
            &-p{
                font-weight: lighter;
            }
            &-direccion{
                display: flex;
                justify-content: center;
                align-items: center;
                &-icon{
                    width: 20px;
                    height: 20px;
                }
                &-p{
                    margin: 8px 0 0;
                }
            }
        }
        &_action{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-direction: column;
            height: 100%;
            &>div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                &>span{
                    font-weight: lighter;
                    font-size: 0.9em;
                }
            }
            &-price{
                margin: 0;
                font-size: 1.8em;
                &>span{
                    color: var(--secondary-color);
                    font-size: 0.5em;
                }
            }
            &-btn{
                background-color: var(--gray-color);
                color: var(--tertiary-color);
                font-weight: bold;
                text-decoration: underline;
                letter-spacing: 1px;
            }
        }
    }
    &_pagination{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
}