.section {
    &-title {
        font-family: var(--font-primary);
        font-size: 42px;
        font-weight: bold;
        color: var(--secondary-color);
        .line{
            color: var(--primary-color);
            border-top: 3px solid var(--primary-color);
        }
    }

}

.tourism{
  position: relative;
  margin-bottom: 2%;

  &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(#ffffff, #002855);
      opacity: 0.15;
      z-index: -1;
  }

  &__slider {
      height: 470px;

  }

  &__card {
      border-radius: 15px;
      height: 410px;
      overflow: hidden;
      box-shadow:  5px 5px 12px #bfbfbfb3;
      &-img-top {
            height: 50%;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
      }

      &-body {
          position: relative;
          background-color: white;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
          padding-top: 30px;
          overflow: hidden;
      }
  
      &-title {
          color: var(--tertiary-color);
          font-family: var(--font-secondary-regular);
          font-size: 18px;
          font-weight: bold;
          cursor: default;
      }
  
      &-text {
          color: #4b4b4b;
          font-family: var(--font-secondary-regular);
          cursor: default;
      }

      &-btn{
          display: flex;
          justify-content: flex-end;
          padding: 0 20px;
          button{
              border: none;
              cursor: none;
              background: transparent;
              text-decoration: underline;
              padding: 10px;
              color: var(--tertiary-color);
              font-weight: bold;
          }
      }
  }
}