<form class="login_form" [formGroup]="formGroup">
    <div (click)="ModalLogin()"  class="login_form-close">
        <span>x</span>
    </div>
    <h4 class="login_form-title">Ingresa</h4>
    <label for="usser">Usuario</label>
    <input name="usser" formControlName="usser" type="text" />
    <label for="password">Password</label>
    <input name="password" formControlName="password" type="password" />
    <button class="login_form-btn btn" (click)="loginUsser()" [disabled]="formGroup.invalid">Register me!</button>
    <p *ngIf="textLoginError" class="login_form-error" >Las credenciales ingresadas no coinciden</p>
</form>