// Global style
:root {
    --primary-color: #060047;
    --secondary-color: #B3005E;
    --tertiary-color: #E90064;
    --quaternary-color: #FF5F9E;
    --gray-color: #CACACA;
    --alert-color: #f85914;
    --font-primary: "KabrioSoft";
    --font-secondary: "Roboto Condensed";
    --font-secondary-regular: "Roboto";
  }
// End global style



