// Typography

@font-face {
	font-family: 'Roboto Condensed';
	src: url('https://prismic-io.s3.amazonaws.com/vivaair-cms/83007157-8e45-4876-aae8-00279bb038c4_RobotoCondensed-Regular.ttf');
	font-weight: normal;
    font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto Condensed';
	src: url('https://prismic-io.s3.amazonaws.com/vivaair-cms/a63cb1bc-48c3-40ae-9e2d-5de62ee826b5_RobotoCondensed-Bold.ttf');
	font-weight: 700;
    font-style: normal;
	font-display: swap;
}
// @font-face {
// 	font-family: 'KabrioSoft';
// 	src: url('../../fonts/KabrioSoft-Bold.ttf');
// 	font-weight: 700;
//     font-style: normal;
// 	font-display: swap;
// }
@font-face {
	font-family: 'KabrioSoft';
	src: url('https://prismic-io.s3.amazonaws.com/vivaair-cms/4574f1c4-4162-479f-b269-a7e5ac92dbc7_KabrioSoft-Light.ttf');
	font-weight: 300;
    font-style: normal;
	font-display: swap;
}
// @font-face {
// 	font-family: 'KabrioSoft';
// 	src: url('../../fonts/KabrioSoft-ExtraBold.ttf');
// 	font-weight: 800;
//     font-style: normal;
// 	font-display: swap;
// }
@font-face {
	font-family: 'KabrioSoft';
	src: url('https://prismic-io.s3.amazonaws.com/vivaair-cms/220206e7-28c6-4acd-80d5-ce6ecad158aa_KabrioSoft-Regular.ttf');
	font-weight: 400;
    font-style: normal;
	font-display: swap;
}

// End Typography