
.welcomeAdmin{
    margin-bottom: 15px;
    &-title{
        color: var(--secondary-color);
        font-size: 2em;
        margin: 0;
    }
    &-text{
        color: var(--primary-color);
    }
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: inset 0px 0px 5px var(--gray-color);
    padding: 10px;
    border-radius: 10px;
    height: 400px;
    &_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-label{
            color: var(--secondary-color);
        }
        &-input{
            width: 100%;
            border: none;
            box-shadow: 0px 0px 5px var(--gray-color);
            border-radius: 10px;
            padding: 5px 10px;
            &:focus {
                outline-color: var(--tertiary-color);
              }
        }
    }
    &_btn{
        background-color: var(--gray-color);
        width: 80%;
        margin: 0 auto;
        border: 1px solid var(--secondary-color);
        font-weight: bold;
        color: var(--primary-color);
    }
}

.container_admin{
    &_option{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 5px 25px 5px;
        &-item{
            background-color: var(--gray-color);
            padding: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            cursor: pointer;
            color: var(--primary-color);
            font-weight: 600;
            text-decoration: underline;
        }
    }
}
